<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Me </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card id="input-card">
<ion-list>
  <ion-item> 
    <div class="ion-margin-top ion-padding-top">
    <ion-label position="floating" font-family="Times New Roman, Times, serif" > Assignment 1 - Pay Calculator </ion-label><br><br>
    </div>
  </ion-item>
  <ion-item> 
    <div class="ion-margin-top ion-padding-top">
    <ion-label position="floating" font-family="Times New Roman, Times, serif"> Name: Abdeali Mustansir Mody </ion-label><br><br>
    </div>
  </ion-item>
  <ion-item>
     <div class="ion-margin-top ion-padding-top">
    <ion-label position="floating" font-family="Times New Roman, Times, serif"> Student ID# 301085484 </ion-label><br><br>
    </div>
  </ion-item>
</ion-list>
</ion-card>
</div>
</ion-content>
