#result-card 
{
  text-align: left;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

ion-card-title 
{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
ion-card-subtitle 
{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(3, 47, 128);
}
#container 
{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

#container strong 
{
  font-size: 20px;
  line-height: 26px;
}

about-card 
{
  padding-top: 20px;
  background-color:rgb(152, 236, 187);
}
